<!DOCTYPE html>
<html lang="ru">
<head>
    <title>О школе</title>
</head>
<body>
<table border="1" style="border-collapse: collapse; border-color: #555; width: 100%">
    <tr style="background-color: #333; color: white;">
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'about'%}" style="color: white; text-decoration: none;">О школе</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'news'%}" style="color: white; text-decoration: none;">Новости</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'staff_list'%}" style="color: white; text-decoration: none;">Список работников</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'contacts'%}" style="color: white; text-decoration: none;">Контакты</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'vacancy'%}" style="color: white; text-decoration: none;">Вакансии</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'sponsors'%}" style="color: white; text-decoration: none;">Спонсоры</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'documents'%}" style="color: white; text-decoration: none;">Документы</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'feedback'%}" style="color: white; text-decoration: none;">Обратная связь</a></td>
    </tr>
</table>
<h1>МБОУ СОШ №30 г. Уссурийска: подробная информация</h1>
<hr>
<table>
    <tr>
        <td align="justify" style="width: 1500px; font-size: 20px;">
            Муниципальное бюджетное общеобразовательное учреждение "Средняя общеобразовательная школа №30" является важным элементом системы образования Уссурийского городского округа.
            Школа предоставляет качественное и доступное образование, соответствующее государственным стандартам, и входит в число учреждений, формирующих образовательную инфраструктуру
            региона. Благодаря многолетней работе и профессиональному педагогическому коллективу она заслужила доверие среди жителей округа, став надежным местом для получения знаний и
            развития детей. Школа №30 охватывает все ступени общего образования, обеспечивая непрерывный учебный процесс с 1 по 11 класс. Это позволяет учащимся пройти полный цикл обучения
            в стенах одного учреждения, что способствует их комфортной адаптации и последовательному освоению учебных программ. Школа уделяет внимание не только академическим знаниям, но и
            воспитанию, внеурочной деятельности, создавая условия для всестороннего развития личности каждого ребенка. Как часть образовательной сети Уссурийского городского округа, школа
            активно участвует в муниципальных и региональных проектах, внедряет современные педагогические технологии и стремится к повышению качества образования. Здесь создана
            благоприятная среда для обучения, сочетающая традиционные методы преподавания и инновационные подходы. Школа №30 остается востребованной среди родителей и учащихся, продолжая
            играть значимую роль в формировании будущего поколения.
        </td>
    </tr>
</table>
<h2>Основные сведения:</h2>
<table style="font-size: 20px;" border="1">
    <tr>
        <td style="width: 160px;">Полное название</td>
        <td style="width: 1330px;">МБОУ СОШ №30 г. Уссурийска</td>
    </tr>
    <tr>
        <td>Тип учреждения</td>
        <td>бюджетное общеобразовательное</td>
    </tr>
    <tr>
        <td>Адрес</td>
        <td>692524, Приморский край, г. Уссурийск, ул. Короленко, зд. 11А</td>
    </tr>
    <tr>
        <td>Год основания</td>
        <td>1968</td>
    </tr>
    <tr>
        <td>Режим работы</td>
        <td>5-дневная или 6-дневная учебная неделя (зависит от класса)</td>
    </tr>
    <tr>
        <td>Директор</td>
        <td>Петухова Валентина Николаевна</td>
    </tr>
</table>
</body>
</html>