<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Список работников</title>
</head>
<body>
<table border="1" style="border-collapse: collapse; border-color: #555; width: 100%">
    <tr style="background-color: #333; color: white;">
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'about'%}" style="color: white; text-decoration: none;">О школе</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'news'%}" style="color: white; text-decoration: none;">Новости</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'staff_list'%}" style="color: white; text-decoration: none;">Список работников</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'contacts'%}" style="color: white; text-decoration: none;">Контакты</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'vacancy'%}" style="color: white; text-decoration: none;">Вакансии</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'sponsors'%}" style="color: white; text-decoration: none;">Спонсоры</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'documents'%}" style="color: white; text-decoration: none;">Документы</a></td>
        <td style="width: 160px; padding: 8px; border: 1px solid #555;"><a href="{% url 'feedback'%}" style="color: white; text-decoration: none;">Обратная связь</a></td>
    </tr>
</table>
<h1>Список работников</h1>
<hr>
<table>
    <tr>
        <td align="justify" style="width: 1500px; font-size: 20px;">
            В разделе «Список сотрудников» размещена информация о команде нашей организации: от руководства
            до ключевых специалистов. Для каждого сотрудника указаны ФИО, должность, краткая биография,
            профессиональные достижения и контакты (если это предусмотрено политикой компании). Это помогает
            клиентам и партнерам лучше узнать, кто работает над проектами, а также установить прямую связь с
            нужным специалистом. Мы гордимся нашим коллективом и стремимся к открытости в коммуникации.
        </td>
    </tr>
</table>
<br>
<table border="1px" style="font-size: 20px;" >
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Стаж работы</th>
        </tr>
    </thead>
    <tbody>
    {% for staff in staff_list %}
    <tr>
        <td style="width: 400px;"><a href="{% url 'staff_1' staff.pk %}">{{ staff.full_name }}</a></td>
        <td style="width: 400px;">
            {% for position in staff.position.all %}
                {{ position.title }}
            {% endfor %}
        </td>
        <td ALIGN="CENTER">{{ staff.work_experience }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div style="position: fixed; bottom: 0; left: 0; right: 0; background: white; padding: 10px; text-align: center; border-top: 1px solid #ddd;">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
    {% endif %}

    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
         <a href="?page={{ page_obj.next_page_number }}">Вперед</a>
    {% endif %}
</div>

<div style="height: 50px;"></div>
</body>
</html>